##### back end #####

SERVER=tu_servidor 
DATABASE=tu_base_de_datos 
USER=tu_usuario 
PASSWORD=tu_contraseña 
JWT_SECRET=tu_firma_secreta 
PORT=3030
CLOUDINARY_CLOUD_NAME= nombre_cloudinary
CLOUDINARY_API_KEY= key_cloudinary 
CLOUDINARY_API_SECRET= secret_key_cloudinary


##### front end #####
VITE_API_URL = http://localhost:3030