USE [DBPrueba]
GO
/****** Object:  Table [dbo].[‫Items]    Script Date: 9/07/2026 21:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[‫Items](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[url] [text] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_‫Items] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/07/2026 21:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[contraseña] [nvarchar](255) NOT NULL,
	[estado] [varchar](10) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[‫Items] ON 

INSERT [dbo].[‫Items] ([id_item], [nombre], [descripcion], [precio], [categoria], [url], [fecha_creacion]) VALUES (12, N'cocina', N'img prueba', CAST(10.50 AS Decimal(10, 2)), N'hogar', N'https://hips.hearstapps.com/hmg-prod/images/cocina-bonita-y-ordenada-elle-gourmet-64ec73342e7c6.jpg?crop=0.669xw:1.00xh;0.203xw,0&resize=640:*', CAST(N'2026-07-09T14:44:26.640' AS DateTime))
INSERT [dbo].[‫Items] ([id_item], [nombre], [descripcion], [precio], [categoria], [url], [fecha_creacion]) VALUES (13, N'horno', N'horno para cocinar', CAST(109.90 AS Decimal(10, 2)), N'cocina', N'https://plazavea.vteximg.com.br/arquivos/ids/29033703-418-418/20395165.jpg', CAST(N'2026-07-09T16:20:39.147' AS DateTime))
INSERT [dbo].[‫Items] ([id_item], [nombre], [descripcion], [precio], [categoria], [url], [fecha_creacion]) VALUES (14, N'flor', N'decoracion del hogar', CAST(5.00 AS Decimal(10, 2)), N'jardineria', N'https://res.cloudinary.com/hr5hpjbu/image/upload/v1783639856/productos/ok6fsbincalkobfkdtor.jpg', CAST(N'2026-07-09T18:31:14.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[‫Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [usuario], [contraseña], [estado], [fecha_creacion]) VALUES (1, N'wernher', N'$2b$10$NoGCaepdlQEKI5jm3bo.v.FhcVyhktR3VaQahvhFbiI/UfmAedpNW', N'activo', CAST(N'2026-07-09T21:08:15.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_items_nombre]    Script Date: 9/07/2026 21:39:39 ******/
ALTER TABLE [dbo].[‫Items] ADD  CONSTRAINT [UQ_items_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
